<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Finance</h1>
		</div>
		<!--<div ncy-breadcrumb></div>-->
	</div>
</section>
<section class="container-fluid container-fullw bg-white" ng-controller="AllMyFinancierProjectsCtrl">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="list-unstyled">
					<li class="margin-bottom-15" ng-repeat="financierProject in allFinancierAbstracts">
						<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
							<hr class="tall">
							<span class="notification-author"><a ng-click="goToFinancierProject(financierProject.id)"> {{financierProject.name}} </a></span>
							<span class="notification-preview margin-top-10"><strong>Description:</strong> {{financierProject.description | htmlToPlaintext | words:40 :true}} </span>
						</div>
						<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding margin-top-10">
								<span><i class="ti-clipboard"></i>
									<strong> Balance:</strong>  {{financierProject.balance}} $
								</span>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-10 no-padding">
								<button type="button" class="btn btn-primary btn-xs pull-right"
										ng-click="goToFinancierProject(financierProject.id)">
									<span class="fa fa-angle-right"></span> Read more
								</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- end: FEATURED BOX LINKS -->
