<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<!-- <h1 class="mainTitle" translate="sidebar.nav.pages.BLANKPAGE">WELCOME TO CORALLIUM</h1> -->
			<h1 class="mainTitle">My Forums</h1>
			<!--<span class="mainDescription">Use this page to start from scratch and put your custom content</span>-->
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE -->
<!-- start: FEATURED BOX LINKS -->
<section class="container-fluid container-fullw bg-white" ng-controller="AllMyForumsCtrl">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pull-right no-padding">
				<select class="cs-select cs-skin-elastic border-combo-projects">
					<option value="Order By" disabled selected>Order By</option>
					<option value="Cost">Cost</option>
					<option value="State">State</option>
					<option value="Owner">Owner</option>
					<option value="Deathline">Deathline</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="list-unstyled">
					<li class="margin-bottom-15" ng-repeat="forum in allMyForums">
						<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-10">
							<hr class="tall">
							<span class="notification-author"><a ng-click="goToForum(forum.id)"> {{forum.projectName}} </a></span>
							<span class="notification-preview"><strong>Description:</strong> {{forum.description | htmlToPlaintext | words:40 :true}} </span>
						</div>
						<div class="thread-content col-xs-12 col-sm-12col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding">
								<span><i class="fa fa-users"></i><strong> Comments:</strong> </span>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding">
								<span><i class="ti-layers-alt"></i><strong> Proposals:</strong> {{allProposalsProject[$index]}}</span>
							</div>
							<button type="button" class="btn btn-primary btn-xs pull-right"
									ng-click="goToForum(project.id)">
								<span class="fa fa-arrow-right"></span> Read more
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- end: FEATURED BOX LINKS -->
