<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Finance</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE -->
<!-- start: FEATURED BOX LINKS -->
<section class="container-fluid container-fullw bg-white" ng-controller="AllMyFinancierProjectsCtrl">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pull-right no-padding">
				<select class="cs-select cs-skin-elastic border-combo-projects">
					<option value="Order By" disabled selected>Order By</option>
					<option value="Cost">Cost</option>
					<option value="State">State</option>
					<option value="Owner">Owner</option>
					<option value="Deathline">Deathline</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="list-unstyled">
					<li class="margin-bottom-15" ng-repeat="financierProject in allMyFincancierProjects">
						<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
							<hr class="tall">
							<span class="notification-author"><a ng-click="goToFinancierProject(financierProject.id)"> {{financierProject.projectName}} </a></span>
							<span class="notification-preview margin-top-10"><strong>Description:</strong> {{financierProject.description | htmlToPlaintext | words:40 :true}} </span>
						</div>
						<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding margin-top-10">
								<span><i class="ti-timer"></i>
									<strong> Balance:</strong>  {{allBalanceProjects[$index]}} $
								</span>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-10 no-padding">
								<button type="button" class="btn btn-primary btn-xs pull-right"
										ng-click="goToFinancierProject(financierProject.id)">
									<span class="fa fa-arrow-right"></span> Read more
								</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- end: FEATURED BOX LINKS -->
