<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">My Forums</h1>
		</div>
		<!--<div ncy-breadcrumb></div>-->
	</div>
</section>
<section class="container-fluid container-fullw bg-white" ng-controller="AllMyForumsCtrl">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="list-unstyled">
					<li class="margin-bottom-15" ng-repeat="forum in allForumsAbstracts">
						<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-10 links cl-effectByMeSameText-16">
							<hr class="tall">
							<span class="notification-author"><a ng-click="goToForum(forum.projectId)" data-hover="{{forum.projectName}}"> {{forum.projectName}} </a></span>
							<span class="notification-preview margin-top-10"><strong>Description:</strong> {{forum.projectDescription | htmlToPlaintext | words:40 :true}} </span>
						</div>
						<div class="thread-content col-xs-12 col-sm-12col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding">
								<span><i class="ti-write"></i><strong> Proposals:</strong> {{forum.proposalsCount}} </span>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding">
								<span><i class="ti-comments"></i><strong> Comments:</strong> {{forum.commentsCount}} </span>
							</div>
							<button type="button" class="btn btn-primary btn-xs pull-right"
									ng-click="goToForum(forum.projectId)">
								<span class="fa fa-angle-right"></span> Read more
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
