<div ng-controller="ExploreUserProfileViewCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">PROFILE</h1>
			</div>
			<!--<div ncy-breadcrumb></div>-->
		</div>
	</section>
	<!-- end: PAGE TITLE -->
	<!-- start: USER PROFILE -->
	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
				<div>
					<div class="row">
						<div class="col-md-4">
							<div class="user-left">
								<div class="center">
									<h4>{{userInfo.fullName}}</h4>
									<div class="user-image">
										<div class="thumbnail">
											<img src="assets/images/default-user.png" alt="" ng-if="noImage">
											<img ng-src="{{userInfo.avatar}}" alt="" ng-if="!noImage">
										</div>
									</div>
									<hr>
									<div class="social-icons block">
										<ul>
											<li ng-show="userInfo.twitter != ''" data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
												<a ng-click="goToLink(userInfo.twitter)" target="_blank">
													Twitter
												</a>
											</li>
											<li ng-show="userInfo.facebook != ''"  data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
												<a ng-click="goToLink(userInfo.facebook)" target="_blank">
													Facebook
												</a>
											</li>
											<li ng-show="userInfo.google != ''"  data-placement="top" data-original-title="Google" class="social-google tooltips">
												<a ng-click="goToLink(userInfo.google)" target="_blank">
													Google+
												</a>
											</li>
											<li ng-show="userInfo.linkedin != ''" data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips">
												<a ng-click="goToLink(userInfo.linkedin)" target="_blank">
													LinkedIn
												</a>
											</li>
											<li ng-show="userInfo.github != ''" data-placement="top" data-original-title="Github" class="social-github tooltips">
												<a ng-click="goToLink(userInfo.github)" target="_blank">
													Github
												</a>
											</li>
										</ul>
									</div>
									<hr>
								</div>
							</div>
						</div>
						<div class="col-sm-8 col-md-8">
							<div class="col-sm-6 col-md-6">
								<table class="table table-condensed">
									<thead>
									<tr>
										<th colspan="3">User Information</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>email:</td>
										<td>{{userInfo.email}}</td>
									</tr>
									<tr>
										<td>gender:</td>
										<td>{{userInfo.gender}}</td>
									</tr>
									<tr>
										<td>city:</td>
										<td>{{userInfo.city}}</td>
									</tr>
									<tr>
										<td>zip code:</td>
										<td>{{userInfo.zipCode}}</td>
									</tr>
									<tr>
										<td>phone:</td>
										<td>{{userInfo.phone}}</td>
									</tr>
									<tr>
										<td>birthday:</td>
										<td>{{getBirthday(userInfo.birthday)}}</td>
									</tr>
									<tr>
										<td>identity card:</td>
										<td>{{userInfo.identityCard}}</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-6 col-md-6 margin-top-25">
								<button class="btn btn-icon margin-bottom-5 btn-block" ui-sref="app.explore_user_projects">
									<i class="ti-briefcase block text-primary text-extra-large margin-bottom-10"></i>
									Projects
								</button>
								<table class="table table-condensed">
									<tbody>
									<tr>
										<td>Owner Raiting:</td>
										<td>{{}}</td>
									</tr>
									<tr>
										<td>Number of projects:</td>
										<td>{{allProjects.length}}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
