<div ng-controller="FinanceCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">FINANCES</h1>
				<span class="mainDescription">Use this page to start from scratch and put your custom content</span>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
	<div class="container-fluid container-fullw bg-white">
		<div class="app-content">
			<div class="main-content" id="subproject">
				<section class="container-fluid container-fullw bg-white" id="section_subproject">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-15">
								<fieldset>
									<legend>
										Account Overview
									</legend>
									<div class="row col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<i class="ti-clipboard"></i><span class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"><strong>Income:</strong></span><span class="pull-right">{{income}} $</span>
									</div>
									<div class="row col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
										<i class="ti-archive"></i><span class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"><strong>Outcome:</strong></span><span class="pull-right">{{outcome}} $</span>
									</div>
									<hr class="tall col-xs-10 visible-xs hidden-sm hidden-md hidden-lg">
									<div class="row col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
										<i class="ti-notepad"></i><span class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"><strong>Balance:</strong></span><span class="pull-right">{{investmentCapitalProject}} $</span>
									</div>
								</fieldset>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<table class="table table-striped" wt-responsive-table ng-show="invertions.length != 0">
									<thead>
									<tr>
										<th> Name </th>
										<th> Operation </th>
										<th> Date </th>
										<th class="text-right"> Total </th>
										<th class="text-right"> Balance </th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="transaction in transactions">
										<td> {{getUserName(transaction.userId)}} </td>
										<td> {{transaction.operation}} </td>
										<td> {{getDateProject(transaction.date)}} </td>
										<td class="text-right"> {{transaction.amount}} $</td>
										<td class="text-right"> {{balance[$index]}} $</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>