<div ng-controller="FinanceCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">FINANCES</h1>
				<span class="mainDescription">Use this page to start from scratch and put your custom content</span>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
	<div class="container-fluid container-fullw bg-white">
		<div class="app-content">
			<div class="main-content" id="subproject">
				<section class="container-fluid container-fullw bg-white" id="section_subproject">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
								<table class="table table-striped" wt-responsive-table ng-show="invertions.length != 0">
									<thead>
									<tr>
										<th> Name </th>
										<th> Type </th>
										<th class="text-right"> Total </th>
										<th class="text-right"> Balance </th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="invertion in invertions">
										<td> {{getUserName(invertion.userId)}} </td>
										<td> Income </td>
										<td class="text-right"> {{invertion.amount}} $</td>
										<td class="text-right"> {{balance[$index]}} $</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pull-right">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="panel-heading margin-bottom-15">
										<h4 class="panel-title center">Account Overview</h4>
									</div>
									<div>
										<p><strong>Income:</strong><span class="pull-right text-right">{{investmentCapitalProject}} $</span></p>
										<p><strong>Outcome:</strong><span class="pull-right text-right">0 $</span></p>
										<hr>
										<p><strong>Balance:</strong><span class="pull-right text-right">{{investmentCapitalProject}} $</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>