<div ng-controller="FinanceCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">FINANCES</h1>
				<span class="mainDescription">Use this page to start from scratch and put your custom content</span>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
	<div class="container-fluid container-fullw bg-white">
		<div class="app-content">
			<div class="main-content" id="subproject">
				<section class="container-fluid container-fullw bg-white" id="section_subproject">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" ng-show="invertions.length != 0">
								<table class="table table-striped">
									<thead>
									<tr>
										<th> Name </th>
										<th> Role </th>
										<th class="text-right"> Total </th>
										<th class="text-right"> Balance </th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="invertion in invertions">
										<td> {{listAllUser[$index].fullName}} </td>
										<td> {{projectRole(invertion.userId)}} </td>
										<td class="text-right"> {{invertion.amount}} $</td>
										<td class="text-right"> {{balance[$index]}} $</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pull-right">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="panel-heading margin-bottom-15">
										<h4 class="panel-title center">Account Overview</h4>
									</div>
									<div>
										<p><strong>Income:</strong><span class="pull-right text-right">{{investmentCapitalProject}} $</span></p>
										<p><strong>Outcome:</strong><span class="pull-right text-right">0 $</span></p>
										<hr>
										<p><strong>Balance:</strong><span class="pull-right text-right">{{investmentCapitalProject}} $</span></p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="panel-heading">
									<h4 class="panel-title">Recent Activities</h4>
								</div>
								<div class="panel-body">
									<ul class="timeline-xs">
										<li class="timeline-item success padding-bottom-15">
											<div class="row">
												<div class="col-xs-1 col-sm-2 col-md-2 col-lg-1">
													<img src="assets/images/team-4.jpg" class="img-list-finace img-circle">
												</div>
												<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
													<p class="text-small no-padding margin-recent-activities">2 minutes ago</p>
													<p class="no-padding margin-recent-activities">
														<strong>Micheal Hanson</strong>
													</p>
													<p class="no-padding margin-recent-activities">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
														Fusce in hendrerit purus.
													</p>
												</div>
											</div>
										</li>
										<li class="timeline-item danger padding-bottom-15">
											<div class="row">
												<div class="col-xs-1 col-sm-2 col-md-2 col-lg-1">
													<img src="assets/images/team-5.jpg" class="img-list-finace img-circle">
												</div>
												<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
													<p class="text-small no-padding margin-recent-activities">1 hours ago</p>
													<p class="no-padding margin-recent-activities">
														<strong>Caroline Garrett</strong>
													</p>
													<p class="no-padding margin-recent-activities">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
														Fusce in hendrerit purus.
													</p>
												</div>
											</div>
										</li>
										<li class="timeline-item warning padding-bottom-15">
											<div class="row">
												<div class="col-xs-1 col-sm-2 col-md-2 col-lg-1">
													<img src="assets/images/team-9.jpg" class="img-list-finace img-circle">
												</div>
												<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
													<p class="text-small no-padding margin-recent-activities">2 days ago</p>
													<p class="no-padding margin-recent-activities">
														<strong>Sabrina Howell</strong>
													</p>
													<p class="no-padding margin-recent-activities">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
														Fusce in hendrerit purus.
													</p>
												</div>
											</div>
										</li>
										<li class="timeline-item info padding-bottom-15">
											<div class="row">
												<div class="col-xs-1 col-sm-2 col-md-2 col-lg-1">
													<img src="assets/images/team-6.jpg" class="img-list-finace img-circle">
												</div>
												<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
													<p class="text-small no-padding margin-recent-activities">10 days ago</p>
													<p class="no-padding margin-recent-activities">
														<strong>Wilbert Thomas</strong>
													</p>
													<p class="no-padding margin-recent-activities">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
														Fusce in hendrerit purus.
													</p>
												</div>
											</div>
										</li>
										<li class="timeline-item success padding-bottom-15">
											<div class="row">
												<div class="col-xs-1 col-sm-2 col-md-2 col-lg-1">
													<img src="assets/images/team-7.jpg" class="img-list-finace img-circle">
												</div>
												<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
													<p class="text-small no-padding margin-recent-activities">1 month ago</p>
													<p class="no-padding margin-recent-activities">
														<strong>Kim Logan</strong>
													</p>
													<p class="no-padding margin-recent-activities">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
														Fusce in hendrerit purus.
													</p>
												</div>
											</div>
										</li>
										<li class="timeline-item warning padding-bottom-15">
											<div class="row">
												<div class="col-xs-1 col-sm-2 col-md-2 col-lg-1">
													<img src="assets/images/team-1.jpg" class="img-list-finace img-circle">
												</div>
												<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
													<p class="text-small no-padding margin-recent-activities">1 month ago</p>
													<p class="no-padding margin-recent-activities">
														<strong>Peter Clark</strong>
													</p>
													<p class="no-padding margin-recent-activities">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
														Fusce in hendrerit purus.
													</p>
												</div>
											</div>
										</li>
										<li class="timeline-item danger padding-bottom-15">
											<div class="row">
												<div class="col-xs-1 col-sm-2 col-md-2 col-lg-1">
													<img src="assets/images/team-2.jpg" class="img-list-finace img-circle">
												</div>
												<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
													<p class="text-small no-padding margin-recent-activities">2 month ago</p>
													<p class="no-padding margin-recent-activities">
														<strong>Bob Frazier</strong>
													</p>
													<p class="no-padding margin-recent-activities">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
														Fusce in hendrerit purus.
													</p>
												</div>
											</div>
										</li>
										<li class="timeline-item success padding-bottom-15">
											<div class="row">
												<div class="col-xs-1 col-sm-2 col-md-2 col-lg-1">
													<img src="assets/images/team-3.jpg" class="img-list-finace img-circle">
												</div>
												<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11">
													<p class="text-small no-padding margin-recent-activities">2 month ago</p>
													<p class="no-padding margin-recent-activities">
														<strong>Nicole Bell</strong>
													</p>
													<p class="no-padding margin-recent-activities">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
														Fusce in hendrerit purus.
													</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>