<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<!-- <h1 class="mainTitle" translate="sidebar.nav.pages.BLANKPAGE">WELCOME TO CORALLIUM</h1> -->
			<h1 class="mainTitle">PROJECT FORUM</h1>
			<!-- <span class="mainDescription">Use this page to start from scratch and put your custom content</span> -->
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white" ng-controller="ForumCtrl">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p><strong>Title: </strong> Title here.....</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p><strong>Description: </strong> Description here.....</p>
		</div>
	</div>
	<div class="row">
		<div class=" well col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<div class="center">
				<label>Votation</label>
			</div>
			<div class="panel-body">
				<div class="radio clip-radio radio-primary inline">
					<input ng-model="popoverType" name="popoverType" id="yes" value="yes" class="ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse" style="" type="radio">
					<label for="yes">Yes</label>
				</div>
				<div class="radio clip-radio radio-primary inline">
					<input ng-model="popoverType" name="popoverType" id="no" value="no" class="ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse" style="" type="radio">
					<label for="no">No</label>
				</div>
				<div class="radio clip-radio radio-primary inline">
					<input ng-model="popoverType" name="popoverType" id="abs" value="abs" class="ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse" style="" type="radio">
					<label for="abs">Abs</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 margin-top-10">
			<button  type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-shopping-cart">
				<span>Done</span>
			</button>
		</div>
		<div class="pull-right">
			<button ui-sref="app.forum.base" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-shopping-cart">
				<span>Go to forum</span>
			</button>
		</div>
	</div>
</div>
<!-- end: FEATURED BOX LINKS -->
