<div  ng-controller="ForumBaseViewVotationCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">{{currentForumActive.projectName}} FORUM</h1>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<p><strong>Title: </strong> {{currentProposalView.name}} </p>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<p class="pull-right"><strong>Deathline: </strong> {{getProjectDate(currentProposalView.deathLine)}} </p>
			</div>
		</div>
		<div class="row" ng-show="currentProposalView.type == 'Modified Task State' || currentProposalView.type == 'Modified Task Duration' ||
									 currentProposalView.type == 'Modified Task Name' || currentProposalView.type == 'Modified Task Description' ||
									 currentProposalView.type == 'Modified Task Outcome' || currentProposalView.type == 'Modified Task Start Date' ||
									 currentProposalView.type == 'Modified Task Cost'">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p><strong>Task Name: </strong> {{currentTaskProposalView.name}} </p>
			</div>
		</div>
		<hr class="tall">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<fieldset>
					<legend>View Results</legend>
					<div class="panel-body margin-top-15">
						<div class="row">
							<h5 class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>YES</strong></h5>
							<uib-progressbar value="countVotes.yes" max="100" class="progress-md col-xs-11 col-sm-11 col-md-11 col-lg-11 no-padding" type="success">{{countVotes.yes}} %</uib-progressbar>
						</div>
						<div class="row">
							<h5 class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>NO</strong></h5>
							<uib-progressbar value="countVotes.no" max="100" class="progress-md col-xs-11 col-sm-11 col-md-11 col-lg-11 no-padding" type="danger">{{countVotes.no}} %</uib-progressbar>
						</div>
						<div class="row">
							<h5 class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><strong>ABS</strong></h5>
							<uib-progressbar value="countVotes.abs" max="100" class="progress-md col-xs-11 col-sm-11 col-md-11 col-lg-11 no-padding" type="info">{{countVotes.abs}} %</uib-progressbar>
						</div>
					</div>
				</fieldset>
			</div>
			<hr class="tall" ng-show="allVotes.length > 0">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="allVotes.length > 0">
				<table class="table table-striped" wt-responsive-table>
					<thead>
					<tr>
						<th> Name </th>
						<th class="text-right"> Vote </th>
						<th class="text-right"> % </th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="vote in allVotes">
						<td> {{allUserName[$index]}} </td>
						<td class="text-right"> {{showVoteValue(vote.value)}} </td>
						<td class="text-right"> {{vote.percent}} </td>
					</tr>
					</tbody>
				</table>
			</div>
			<hr class="tall">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<button ui-sref="app.forum.base" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top fa fa-comments-o">
					<span>Go to forum</span>
				</button>
			</div>
		</div>
	</div>
</div>