<!-- start: PAGE TITLE -->
<div ng-controller="ForumBaseCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">{{currentForumActive.projectName}} FORUM</h1>
			</div>
			<!--<div ncy-breadcrumb></div>-->
		</div>
	</section>
	<div class="container-fluid container-fullw bg-white">
		<div class="container">
			<uib-tabset class="tabbable" ng-show="currentForumActive.inverted">
				<uib-tab heading="Proposal">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<ul class="list-unstyled">
								<li ng-repeat="proposal in proposalsProject">
									<div class="post-media post-comments margin-top-30">
										<div class="media">
											<a ng-click="goToProfileView(proposal.proposalOwnerId)" class="notifies_image">
												<img ng-src="{{proposal.avatar}}" class="media-object img-circle invertion-image image">
												<span class="middle_forum_proposal">View profile</span>
											</a>
											<div class="media-body">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<a class="notification-author" ng-click="goToProposalById(proposal.id)">{{proposal.name}}</a>
													<span class="notification-time">{{getProjectDate(proposal.deathLine)}}</span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<span>Number of changes: {{proposal.proposalList.length}}</span>
												</div>
												<button ng-click="goToProposalById(proposal.id)" type="button" class="btn btn-primary btn-xs pull-right margin-top-10">
													<span class="ti-eye"></span> View Proposal
												</button>
											</div>
											<hr class="tall">
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<a ui-sref="app.forum.proposal" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus margin-top-15 margin-right-10 pull-right col-xs-3 col-sm-2 col-sm-offset-10 col-md-2 col-md-offset-10 col-lg-2 col-lg-offset-10" data-caption-class="fadeIn" data-caption-delay="900">
							<span>Create Proposal</span>
						</a>
					</div>
				</uib-tab>
				<uib-tab heading="Comments" active="editActive">
					<div class="row">
						<div class="col-md-12">
							<ul class="list-unstyled">
								<li ng-repeat="comment in comments">
									<div class="post-media post-comments margin-top-30">
										<div class="media">
											<a ng-click="goToProfileView(comment.userId)" class="notifies_image">
												<img ng-src="{{comment.avatar}}" class="media-object img-circle invertion-image image">
												<span class="middle_forum_comment">View profile</span>
											</a>
											<div class="media-body">
												<a ng-click="goToProfileView(comment.userId)" class="media-heading">{{comment.fullName}} </a>
												<p>
													{{comment.value}}
												</p>
												<span class="notification-time">{{getProjectDate(comment.creationDate)}}</span>
											</div>
										</div>
									</div>
									<hr class="tall">
								</li>
							</ul>
						</div>
						<div class="col-md-12">
							<div class="post-block post-leave-comment">
								<h3>Leave a comment</h3>
								<form action="" type="post">
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label> Comment * </label>
												<textarea ng-model="comment.value" maxlength="5000" rows="10" class="form-control"></textarea>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<a ng-click="createComment()" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-comment-alt margin-top-15 pull-right" data-caption-class="fadeIn" data-caption-delay="900">
												<span>Post Comment</span>
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
			<uib-tabset class="tabbable" ng-show="!currentForumActive.inverted">
				<uib-tab heading="Comments" active="editActive">
					<div class="row">
						<div class="col-md-12">
							<ul class="list-unstyled">
								<li ng-repeat="comment in comments">
									<div class="post-media post-comments margin-top-30">
										<div class="media">
											<a class="pull-left" ng-click="goToProfileView(comment.userId)">
												<img ng-src="{{comment.avatar}}" alt="" class="media-object img-circle">
											</a>
											<div class="media-body">
												<h5 class="media-heading">{{comment.fullName}} </h5>
												<p>
													{{comment.value}}
												</p>
												<span class="date">{{getProjectDate(comment.creationDate)}}</span>
												<hr>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-md-12">
							<div class="post-block post-leave-comment">
								<h3>Leave a comment</h3>
								<form action="" type="post">
									<div class="row">
										<div class="form-group">
											<div class="col-md-12">
												<label> Comment * </label>
												<textarea ng-model="comment.value" maxlength="5000" rows="10" class="form-control"></textarea>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<a ng-click="createComment()" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-comment-alt margin-top-15 pull-right" data-caption-class="fadeIn" data-caption-delay="900">
												<span>Post Comment</span>
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 margin-top-15">
					<button ui-sref="app.forum.allforum" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-arrow-left">
						<span>Back</span>
					</button>
					<button ui-sref="app.project.subproject_detail" type="button" class="pull-right btn btn-primary btn-wide btn-scroll btn-scroll-top ti-folder">
						<span>Go to project</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>