<!-- start: PAGE TITLE -->
<section id="page-title" ng-controller="CurrentUserProjects">
    <div class="row">
        <div class="col-sm-8">
            <!-- <h1 class="mainTitle" translate="sidebar.nav.pages.BLANKPAGE">WELCOME TO CORALLIUM</h1> -->
            <h1 class="mainTitle">{{currentProjectActive.projectName}}</h1>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white" ng-controller="CurrentUserProjects">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 xol-sm-2 col-md-2 col-lg-2 pull-right">
                <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 margin-top-15 no-padding">
                    <label>Deathline:</label>
                </div>
                <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 margin-top-15 no-padding">
                    <img  ng-src="assets/images/team-3.jpg" alt=""
                          class="img-responsive img-rounded proposal-image pull-right">
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 margin-top-30">
                <div class="form-group">
                    <label>Proposal Content</label>
                    <textarea placeholder="Proposal Content" class="form-control autosize msd-elastic: \n; ng-pristine ng-valid ng-empty ng-touched" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 71px;"></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 margin-top-30">
                <div class="form-group">
                    <label>Item subject of the proposal</label>
                    <textarea placeholder="Item subject of the proposal" class="form-control autosize msd-elastic: \n; ng-pristine ng-valid ng-empty ng-touched" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 71px;"></textarea>
                </div>
            </div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 margin-top-10 margin-bottom-25">
                <button type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top fa-arrow-right">
                    <span>Send to</span>
                </button>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="well">
                    <!-- /// controller:  'SelectMultipleCtrl' -  localtion: assets/js/controllers/xeditableCtrl.js /// -->
                    <div ng-controller="SelectMultipleCtrl">
                        <a href="#" editable-select="user.status" e-multiple e-ng-options="s.value as s.text for s in statuses">
                            {{ showStatus() }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 margin-top-10">
                <button type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top fa-plus">
                    <span>Add comment</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->
