<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle"> <span translate="pages.notifications.TITLE"></span> </h1>
		</div>
		<!--<div ncy-breadcrumb></div>-->
	</div>
</section>
<section class="container-fluid container-fullw bg-white" ng-controller="NotificationCtrl">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="list-unstyled">
					<li class="margin-bottom-15" ng-repeat="notification in notificationsAbstract">
						<div ng-show="notification.type == 'NEW PROPOSAL'" class="row">
							<div class="col-xs-7 col-sm-10 col-md-10 col-lg-10">
								<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-bottom-10">
									<span class="notification-date-proposal margin-right-10"> {{getProjectDate(notification.date)}}</span>
								</div>
								<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
									<h5 class="alert-heading margin-bottom-10"><span translate="pages.notifications.CREATEDBY"></span>
										<a ng-click="goToProfileView(notification.fromId)" class="hover-notification">{{notification.from}}</a>
									</h5>
									<a ng-click="goToProposal(notification.projectId, notification.proposalId)" class="hover-notification"> <span translate="pages.notifications.VIEWPROPOSAL"></span> </a>
								</div>
							</div>
							<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
								<a ng-click="goToProfileView(notification.fromId)" class="notifies_image pull-right">
									<img ng-src="{{notification.avatar}}" alt="" class="media-object img-circle invertion-image image">
									<span class="middle_proposal" translate="pages.notifications.VIEWPROFILE"></span>
								</a>
							</div>
						</div>
						<div ng-show="notification.type == 'PROPOSAL APPROVED'" class="row">
							<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
								<a ng-click="goToProject(notification.projectId)" class="notifies_image">
									<img ng-src="{{notification.avatar}}" alt="" class="media-object img-circle invertion-image image">
									<span class="middle_proposal" translate="pages.notifications.VIEWPROJECT"></span>
								</a>
							</div>
							<div class="col-xs-7 col-sm-10 col-md-10 col-lg-10 no-padding">
								<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
									<span class="notification-time margin-right-10"> {{getProjectDate(notification.date)}}</span>
								</div>
								<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5">
									<h5 class="col-sm-8 col-md-8 col-lg-8 margin-bottom-10 no-padding">{{notification.content}}</h5>
									<a ng-click="goToProject(notification.projectId)" class="col-sm-4 col-md-4 col-lg-4 no-padding">
										<span class="pull-right hover-notification" translate="pages.notifications.VIEWPROJECT"></span>
									</a>
								</div>
							</div>
						</div>
						<div ng-show="notification.type == 'NEW INVERTION'" class="row">
							<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
								<a ng-click="goToFinance(notification.projectId)" class="notifies_image">
									<img ng-src="{{notification.avatar}}" alt="" class="media-object img-circle invertion-image image">
									<span class="middle_proposal" translate="pages.notifications.VIEWFINANCES"></span>
								</a>
							</div>
							<div class="col-xs-7 col-sm-10 col-md-10 col-lg-10 no-padding">
								<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<span class="notification-time"> {{getProjectDate(notification.date)}}</span>
								</div>
								<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5">
									<h5 class="col-sm-8 col-md-8 col-lg-8 margin-bottom-10 no-padding">{{notification.content}}</h5>
									<a ng-click="goToFinance(notification.projectId)"
									   class="col-sm-4 col-md-4 col-lg-4 no-padding text-right hover-notification">
										<span translate="pages.notifications.VIEWUFINANCES"></span>
									</a>
								</div>
							</div>
						</div>
						<div ng-show="notification.type == 'PROPOSAL VOTE'" class="row">
							<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
								<a ng-click="goToProfileView(notification.fromId)" class="notifies_image">
									<img ng-src="{{notification.avatar}}" alt="" class="media-object img-circle invertion-image image">
									<span class="middle_vote" translate="pages.notifications.VIEWPROFILE"></span>
								</a>
							</div>
							<div class="col-xs-7 col-sm-10 col-md-10 col-lg-10 no-padding">
								<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<span class="notification-time"> {{getProjectDate(notification.date)}}</span>
								</div>
								<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5">
									<h5 class="col-sm-8 col-md-8 col-lg-8 margin-bottom-10 no-padding">{{notification.content}} by
										<a ng-click="goToProfileView(notification.fromId)" class="hover-notification">{{notification.from}}</a>
									</h5>
									<a ng-click="goToViewVotation(notification.projectId, notification.proposalId)"
									   class="col-sm-4 col-md-4 col-lg-4 no-padding text-right hover-notification">
										<span translate="pages.notifications.VIEWVOTE"></span>
									</a>
								</div>
							</div>
						</div>
						<hr class="tall">
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
