<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Notifications</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<section class="container-fluid container-fullw bg-white" ng-controller="NotificationCtrl">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="list-unstyled">
					<li class="margin-bottom-15" ng-repeat="notification in notifications">
						<div class="alert alert-block alert-info fade in" ng-show="notification.type == 'NEW PROPOSAL'">
							<button data-ct-dismiss="alert" class="close fa fa-times" type="button"></button>
							<span class="notification-time margin-right-10"> {{getProjectDate(notification.date)}}</span>
							<h4 class="alert-heading margin-bottom-10"><i class="ti-info-alt"></i> New proposal created by {{notification.from}}</h4>
							<h5 class="margin-bottom-10">
								{{notification.content}}
							</h5>
							<p>
								<a ng-click="goToProposal(notification.projectId, notification.proposalId)" class="btn btn-primary btn-xs pull-left margin-left-5"> View proposal </a>
							</p>
						</div>
						<div class="alert alert-block alert-info fade in" ng-show="notification.type == 'PROPOSAL APPROVED'">
							<button data-ct-dismiss="alert" class="close fa fa-times" type="button"></button>
							<span class="notification-time margin-right-10"> {{getProjectDate(notification.date)}}</span>
							<h4 class="alert-heading margin-bottom-10"><i class="ti-info-alt"></i> {{notification.content}} </h4>
							<p>
								<a ng-click="goToTask(notification.projectId)" class="btn btn-primary btn-xs pull-left margin-left-5"> View Task </a>
							</p>
						</div>
						<div class="alert alert-block alert-info fade in" ng-show="notification.type == 'NEW INVERTION'">
							<button data-ct-dismiss="alert" class="close fa fa-times" type="button"></button>
							<span class="notification-time margin-right-10"> {{getProjectDate(notification.date)}}</span>
							<h4 class="alert-heading margin-bottom-10"><i class="ti-info-alt"></i> {{notification.content}} </h4>
							<p>
								<a ng-click="goToFinance(notification.projectId)" class="btn btn-primary btn-xs pull-left margin-left-5"> View Your Finances </a>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
