<!-- start: PAGE TITLE -->
<div ng-controller="OpportunitiesListTaskCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">{{currentProjectActive.projectName}}</h1>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
	<section class="container-fluid container-fullw bg-white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<ul class="list-unstyled">
						<li class="margin-bottom-15" ng-repeat="task in tasksProject">
							<hr class="tall">
							<div class="clearfix">
								<div class="thread-content col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-top-10">
									<span class="notification-author"><a ng-click="goToOpportunitiesTask(task.id)">{{task.name}}</a></span>
								</div>
								<div class="thread-content col-xs-12 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3 margin-top-10">
									<span class="label label-inverse state-list-tasks">{{ stateArray[task.state]}}</span>
									<span class="notification-time"> {{getCreationProject(task.startDate)}}</span>
								</div>
								<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10">
									<span class="notification-preview">{{ task.description | htmlToPlaintext | words:40 :true }}</span>
								</div>
								<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div data-title="Actions" data-title-override="Actions" class="pull-right margin-top-10">
										<button ng-click="goToOpportunitiesTask(task.id)" type="button" class="btn btn-warning btn-xs">
											<span class="fa fa-arrow-right"></span> View
										</button>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<hr class="tall">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10">
					<button ui-sref="app.project.opportunities_detail" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-arrow-left">
						<span> Back </span>
					</button>
				</div>
			</div>
		</div>
	</section>
</div>