<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.pages.USERPROFILE">USER PROFILE</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
			<div ng-controller="UserCtrl">
				<!-- start: USER TABSET -->
				<uib-tabset class="tabbable">
					<!-- start: TAB OVERVIEW -->
					<uib-tab heading="Overview">
						<div class="row">
							<div class="col-md-4">
								<div class="user-left">
									<div class="center">
										<h4>{{userInfo.fullName}}</h4>
										<div ng-controller="UploadCtrl3" nv-file-drop="" uploader="uploaderImages">
											<div class="user-image">
												<div class="thumbnail">
													<img src="assets/images/default-user.png" alt="" ng-if="!uploaderImages.queue.length && noImage">
													<img ng-src="{{userInfo.avatar}}" alt="" ng-if="!uploaderImages.queue.length && !noImage">
													<div ng-if="uploaderImages.queue.length" ng-repeat="item in uploaderImages.queue">
														<div ng-show="uploaderImages.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
													</div>
												</div>
												<div class="user-image-buttons" ng-if="uploaderImages.queue.length">
													<span class="btn btn-primary btn-o btn-file"> <i class="fa fa-pencil"></i>
													<input type="file" nv-file-select="" uploader="uploaderImages" multiple />
													</span>
													<span class="btn btn-danger" ng-click="removeImage()"> <i class="fa fa-times"></i> </span>
												</div>
												<div class="user-image-buttons" ng-if="!uploaderImages.queue.length">
													<span class="btn btn-primary btn-o btn-file"> <i class="fa fa-pencil"></i>
													<input type="file" nv-file-select="" uploader="uploaderImages" multiple />
													</span>
													<span class="btn btn-danger" ng-if="!noImage" ng-click="removeImage()"><i class="fa fa-times"></i></span>
												</div>
											</div>
										</div>
										<hr>
										<div class="social-icons block">
											<ul>
												<li ng-show="userInfo.twitter != ''" data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
													<a href="userInfo.twitter" target="_blank">
														Twitter
													</a>
												</li>
												<li ng-show="userInfo.facebook != ''"  data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
													<a href="userInfo.facebook" target="_blank">
														Facebook
													</a>
												</li>
												<li ng-show="userInfo.google != ''"  data-placement="top" data-original-title="Google" class="social-google tooltips">
													<a href="userInfo.google" target="_blank">
														Google+
													</a>
												</li>
												<li ng-show="userInfo.linkedin != ''" data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips">
													<a href="userInfo.linkedin" target="_blank">
														LinkedIn
													</a>
												</li>
												<li ng-show="userInfo.github != ''" data-placement="top" data-original-title="Github" class="social-github tooltips">
													<a href="userInfo.github" target="_blank">
														Github
													</a>
												</li>
											</ul>
										</div>
										<hr>
									</div>
									<table class="table table-condensed">
										<thead>
										<tr>
											<th colspan="3">Contact Information</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<td>email:</td>
											<td>
												<a href>
													{{userInfo.email}}
												</a></td>
										</tr>
										<tr>
											<td>phone:</td>
											<td>{{userInfo.phone}}</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="col-md-8">
								<div class="row space20">
									<div class="col-sm-3">
										<button class="btn btn-icon margin-bottom-5 margin-bottom-5 btn-block" ui-sref="app.project.user_project">
											<i class="ti-layers-alt block text-primary text-extra-large margin-bottom-10"></i>
											Projects
										</button>
									</div>
									<div class="col-sm-3">
										<button ui-sref="app.notification" class="btn btn-icon margin-bottom-5 btn-block">
											<i class="ti-flag block text-primary text-extra-large margin-bottom-10"></i>
											Notifications
										</button>
									</div>
								</div>
								<div class="panel panel-white" id="activities">
									<div class="panel-heading border-light">
										<h4 class="panel-title text-primary">Recent Activities</h4>
										<paneltool class="panel-tools" tool-collapse="tool-collapse" tool-refresh="load1" tool-dismiss="tool-dismiss"></paneltool>
									</div>
									<div uib-collapse="activities" ng-init="activities=false" class="panel-wrapper">
										<div class="panel-body">
											<ul class="timeline-xs">
												<li ng-repeat="activity in allActivities | orderBy: 'date':true | limitTo:5" class="timeline-item warning">
													<div class="margin-left-15">
														<div class="text-muted text-small">
															{{getProjectDate(activity.date)}}
														</div>
														<p>
															<a class="text-info">
																{{activity.title}}
															</a>
															{{activity.content}}
														</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-white space20">
									<div class="panel-heading">
										<h4 class="panel-title">Recent Comments</h4>
									</div>
									<div class="panel-body">
										<ul class="ltwt">
											<li class="ltwt_tweet" ng-repeat="c in comments | orderBy: 'creationDate':true | limitTo:2">
												<p class="ltwt_tweet_text">
													{{c.value}}
												</p>
												<span class="block text-light"><i class="fa fa-fw fa-clock-o"></i> {{getProjectDate(c.creationDate)}}</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab heading="Edit Account" active="editActive">
						<form role="form" id="form">
							<fieldset>
								<legend>
									Account Info
								</legend>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>
												Image Upload
											</label>
											<div ng-controller="UploadCtrl3" nv-file-drop="" uploader="uploaderImages">
												<div class="user-image">
													<div class="thumbnail">
														<img src="assets/images/default-user.png" alt="" ng-if="!uploaderImages.queue.length && noImage">
														<img ng-src="{{userInfo.avatar}}" alt="" ng-if="!uploaderImages.queue.length && !noImage">
														<div ng-if="uploaderImages.queue.length" ng-repeat="item in uploaderImages.queue">
															<div ng-show="uploaderImages.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
														</div>
													</div>
													<div class="user-image-buttons" ng-if="uploaderImages.queue.length">
														<span class="btn btn-primary btn-o btn-file"> <i class="fa fa-pencil"></i>
														<input type="file" nv-file-select="" uploader="uploaderImages" multiple />
														</span>
														<span class="btn btn-danger" ng-click="removeImage()"> <i class="fa fa-times"></i> </span>
													</div>
													<div class="user-image-buttons" ng-if="!uploaderImages.queue.length">
														<span class="btn btn-primary btn-o btn-file"> <i class="fa fa-pencil"></i>
														<input type="file" nv-file-select="" uploader="uploaderImages" multiple />
														</span>
														<span class="btn btn-danger" ng-if="!noImage" ng-click="removeImage()"><i class="fa fa-times"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Full Name
											</label>
											<input type="text" placeholder="Enter your full name" class="form-control" name="firstname" ng-model="userInfo.fullName">
										</div>
										<div class="form-group">
											<label class="control-label">
												Email Address
											</label>
											<input type="email" placeholder="email address" class="form-control" name="email" ng-model="userInfo.email">
										</div>
										<div class="form-group">
											<label class="control-label">
												Phone
											</label>
											<input type="text" placeholder="phone number" class="form-control" name="phone" ng-model="userInfo.phone">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="block">
												Gender
											</label>
											<div class="clip-radio radio-primary">
												<input type="radio" id="us-female" name="gender" value="female" ng-model="userInfo.gender">
												<label for="us-female">
													Female
												</label>
												<input type="radio" id="us-male" name="gender" value="male" ng-model="userInfo.gender">
												<label for="us-male">
													Male
												</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label">
														Zip Code
													</label>
													<input class="form-control" placeholder="enter a zip code" type="text" name="zipcode" ng-model="userInfo.zipCode">
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label class="control-label">
														City
													</label>
													<input class="form-control" placeholder="enter your city" type="text" name="city" ng-model="userInfo.city">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Identity Card
											</label>
											<input type="text" placeholder="Enter your identity card" class="form-control" name="identityCard" ng-model="userInfo.identityCard">
										</div>
										<div class="form-group">
											<label class="control-label">
												Birthday
											</label>
											<div class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userInfo.birthday" is-open="openDatePickers[0]" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" name="userInfo.birthday">
												<span class="input-group-btn">
													<button type="button" class="btn btn-primary" ng-click="openTest($event,0)">
														<i class="fa fa-calendar"></i>
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>
									Additional Info
								</legend>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Twitter
											</label>
											<span class="input-icon">
												<input class="form-control" type="text" placeholder="Twitter" name="twitter" ng-model="userInfo.twitter">
												<i class="fa fa-twitter"></i> </span>
										</div>
										<div class="form-group">
											<label class="control-label">
												Facebook
											</label>
											<span class="input-icon">
												<input class="form-control" type="text" placeholder="Facebook" name="facebook" ng-model="userInfo.facebook">
												<i class="fa fa-facebook"></i> </span>
										</div>
										<div class="form-group">
											<label class="control-label">
												Google Plus
											</label>
											<span class="input-icon">
												<input class="form-control" type="text" placeholder="Google Plus" name="google" ng-model="userInfo.google">
												<i class="fa fa-google-plus"></i> </span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">
												Github
											</label>
											<span class="input-icon">
												<input class="form-control" type="text" placeholder="Github" name="github" ng-model="userInfo.github">
												<i class="fa fa-github"></i> </span>
										</div>
										<div class="form-group">
											<label class="control-label">
												Linkedin
											</label>
											<span class="input-icon">
												<input class="form-control" type="text" placeholder="Linkedin" name="linkedin" ng-model="userInfo.linkedin">
												<i class="fa fa-linkedin"></i> </span>
										</div>
										<div class="form-group">
											<label class="control-label">
												Skype
											</label>
											<span class="input-icon">
												<input class="form-control" type="text" placeholder="Skype" name="skype" ng-model="userInfo.skype">
												<i class="fa fa-skype"></i> </span>
										</div>
									</div>
								</div>
							</fieldset>
							<div class="text-right padding-right-25 padding-left-25">
								<a class="btn btn-primary btn-o btn-wide" ng-click="saveUserAcount()">
									Save Account
								</a>
							</div>
						</form>
					</uib-tab>
				</uib-tabset>
				<!-- end: USER TABSET -->
			</div>
		</div>
	</div>
</div>
<!-- end: USER PROFILE -->
