<div ng-controller="ProjectCreateCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle"><span translate="pages.create.TITLE"></span> </h1>
				<span class="mainDescription" translate="pages.create.TITLEDESC"></span>
			</div>
			<!--<div ncy-breadcrumb></div>-->
		</div>
	</section>
	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-white" id="panel1">
							<div class="panel-heading">
								<h4 class="panel-title text-primary"><span translate="pages.create.SIMPLE"></span></h4>
								<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
							</div>
							<div uib-collapse="panel1" ng-init="panel1=false" class="panel-wrapper">
								<div class="panel-body">
									<p>
										<span translate="pages.create.SIMPLEDESC"></span>
									</p>
									<a class="btn btn-wide btn-blue pull-right" ng-click="goToWizard()"><i class="ti-plus"></i> <span translate="pages.create.CREATE"></span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="panel panel-white" id="panel2">
							<div class="panel-heading">
								<h4 class="panel-title text-primary"><span translate="pages.create.COMPLEX"></span></h4>
								<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
							</div>
							<div uib-collapse="panel2" ng-init="panel1=false" class="panel-wrapper">
								<div class="panel-body">
									<p>
										<span translate="pages.create.COMPLEXDESC"></span>
									</p>
									<a class="btn btn-wide btn-blue pull-right" ng-click="warningConstruction()"><i class="ti-plus"></i> <span translate="pages.create.CREATE"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end: FEATURED BOX LINKS -->
</div>