<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">My Projects</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE -->
<!-- start: FEATURED BOX LINKS -->
<section class="container-fluid container-fullw bg-white" ng-controller="ProjectUserCtrl">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="list-unstyled">
					<li class="margin-bottom-15" ng-repeat="project in simpleProjects">
						<hr>
						<div class="clearfix">
							<div class="col-sm-2 col-md-2 col-lg-2 no-padding">
								<img  ng-src="{{project.mainLayout}}" alt=""
									  class="img-responsive img-rounded notification-image">
							</div>
							<div class="thread-content col-sm-10 col-md-10 col-lg-10 no-padding">
								<span class="notification-author"><a ng-click="goToProject(project.id)"> {{project.projectName}} </a></span>
								<span class="notification-time"> {{getCreationProject(project.creationDate)}}</span>
							</div>
							<div class="thread-content col-sm-10 col-md-10 col-lg-10 no-padding margin-top-10">
								<span class="notification-preview"><strong>Description:</strong> {{ project.description | htmlToPlaintext | words:40 :true }}</span>
							</div>
							<div class="thread-content col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-padding margin-top-10">
									<span><i class="fa fa-users"></i><strong> Role:</strong>  {{projectRole(project.userId)}} </span>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-padding margin-top-10">
									<span><i class="ti-layers-alt"></i><strong> State:</strong>  {{stateArray[project.state]}} </span>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 margin-top-10 no-padding">
									<span><i class="ti-layers-alt"></i>
										<strong> Owner Raiting:</strong>
									</span>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding margin-top-10 pull-right">
									<button ng-show="project.state == 1 && projectRole(project.userId) != 'Financier'" type="button" class="btn btn-danger btn-xs pull-right margin-left-5"
											ng-click="deleteProject(project.id)">
										<span class="glyphicon glyphicon-trash"></span> Delete
									</button>
									<button type="button" class="btn btn-primary btn-xs pull-right margin-left-5"
											ng-click="goToProject(project.id)">
										<span class="fa fa-arrow-right"></span> Read more
									</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<hr class="tall">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
				<button ui-sref="app.project.create" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top fa-plus pull-right">
					<span>Create project</span>
				</button>
			</div>
		</div>
	</div>
</section>
<!-- end: FEATURED BOX LINKS -->
