<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">CREATE NEW PROJECT</h1>
			<span class="mainDescription">You can create two kind of projects, simple and complex. </span>
		</div>
		<!--<div ncy-breadcrumb></div>-->
	</div>
</section>
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-white" id="panel1">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Simple project</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel1" ng-init="panel1=false" class="panel-wrapper">
							<div class="panel-body">
								<p>
									Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
								</p>
								<a class="btn btn-wide btn-blue pull-right" ng-click="goToWizard()"><i class="ti-plus"></i> Create</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-white" id="panel2">
						<div class="panel-heading">
							<h4 class="panel-title text-primary">Complex project</h4>
							<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
						</div>
						<div uib-collapse="panel2" ng-init="panel1=false" class="panel-wrapper">
							<div class="panel-body">
								<p>
									Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
								</p>
								<a class="btn btn-wide btn-blue pull-right" ui-sref="app.project.create_complex"><i class="ti-plus"></i> Create</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: FEATURED BOX LINKS -->
