<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<!-- <h1 class="mainTitle" translate="sidebar.nav.pages.BLANKPAGE">WELCOME TO CORALLIUM</h1> -->
			<h1 class="mainTitle">WELCOME TO CORALLIUM</h1>
			<span class="mainDescription">Use this page to start from scratch and put your custom content</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE -->
<!-- start: FEATURED BOX LINKS -->
<section class="container-fluid container-fullw bg-white" ng-controller="CurrentUserProjects">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="list-unstyled">
					<li class="margin-bottom-15" ng-repeat="project in simpleProjects">
						<div class="clearfix">
							<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<span class="mainTitle">{{project.projectName}}</span>
							</div>
							<!--<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
								<!--<span class="mainDescription">{{ project.description | htmlToPlaintext | words:40 :true }}</span>-->
							<!--</div>-->
							<div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="post-meta text-light">
									<span><i class="fa fa-calendar"></i> January 11, 2014 </span>
									<span><i class="fa fa-user"></i> By <a> {{owner.userId}} </a> </span>
									<span><i class="ti-money"></i> Total Cost: <a> {{project.totalCost}} </a> </span>
									<span><i class="ti-timer"></i> Death Line: <a> {{project.deathLine}} </a> </span>
									<span><i class="ti-layers-alt"></i> State: <a> {{stateArray[project.state]}} </a> </span>
									<button type="button" class="btn btn-primary btn-xs pull-right margin-left-5">
										<span class="fa fa-arrow-right"></span> Read more...
									</button>
									<button type="button" class="btn btn-primary btn-xs pull-right margin-left-5 margin-right-5">
										<span class="fa fa-edit"></span> Edit
									</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- end: FEATURED BOX LINKS -->
