<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">CREATE NEW COMPLEX PROJECT</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>
					General Information
				</legend>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>
								Project Name
							</label>
							<input type="text" placeholder="Enter your Project Name" class="form-control"/>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>
								Total cost
							</label>

							<input type="text" value="0" touchspin data-min="0" data-max="1000000000" data-step="50" data-maxboostedstep="10000000" data-prefix="$">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>
								Estimate duration
							</label>

							<input type="text" value="0" touchspin data-min="0" data-max="1000000000" data-stepinterval="50" data-maxboostedstep="10000000" data-postfix="weeks">
						</div>
					</div>														
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">
								Project description
							</label>

							<textarea placeholder="Enter your project description" class="form-control autosize msd-elastic: \n;" data-ng-model="data"></textarea>
						</div>
					</div>						
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-wide btn-blue pull-right" ui-sref="app.project.wizard"><i class="ti-plus"></i> Create subproject</a>
		</div>
	</div>
</div>
<!-- end: FEATURED BOX LINKS -->
