<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<!-- <h1 class="mainTitle" translate="sidebar.nav.forms.WIZARD">FORM WIZARD</h1> -->
			<h1 class="mainTitle">PROJECT WIZARD</h1>
			<!-- <span class="mainDescription">Using simple Angular.js guidelines you can turn a form into a multi-step form wizard</span> -->
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: WIZARD DEMO -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<h3>Complete required information in each step</h3>
			<!-- <h5 class="over-title margin-bottom-15">Wizard <span class="text-bold">create project</span></h5> -->
			<!-- 			<p>
                            Complete required information in each step.
                        </p>
             -->			<!-- /// controller:  'WizardCtrl' -  localtion: assets/js/controllers/wizardCtrl.js /// -->
			<div ng-controller="WizardCtrl">
				<!-- start: WIZARD FORM -->
				<form name="Form" id="form" novalidate>
					<div id="wizard" class="swMain">
						<!-- start: WIZARD SEPS -->
						<ul>
							<li ng-click="form.goTo(Form, 1)">
								<a href ng-class="{'selected' : currentStep >= 1, 'done' : currentStep > 1}">
									<div class="stepNumber">
										1
									</div>
									<span class="stepDesc text-small"> General information </span>
								</a>
							</li>
							<li ng-click="form.goTo(Form, 2)">
								<a href ng-class="{'selected' : currentStep >= 2, 'done' : currentStep > 2}">
									<div class="stepNumber">
										2
									</div>
									<span class="stepDesc text-small"> References and risks </span>
								</a>
							</li>
							<li ng-click="form.goTo(Form, 3)">
								<a href ng-class="{'selected' : currentStep >= 3, 'done' : currentStep > 3}">
									<div class="stepNumber">
										3
									</div>
									<span class="stepDesc text-small"> Project tasks </span>
								</a>
							</li>
							<li ng-click="form.goTo(Form, 4)">
								<a href ng-class="{'selected' : currentStep >= 4, 'done' : currentStep > 4}">
									<div class="stepNumber">
										4
									</div>
									<span class="stepDesc text-small"> Complete </span>
								</a>
							</li>
						</ul>
						<!-- end: WIZARD SEPS -->
						<!-- start: WIZARD STEP 1 -->
						<div id="step-1" ng-show="currentStep == 1">
							<div class="row" ng-controller="UploadCtrl" nv-file-drop="" uploader="uploaderImages">
								<div class="col-md-12">

									<div class="panel panel-white" id="panel5">
										<div class="panel-heading">
											<h4 class="panel-title text-primary">Main layout</h4>
											<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
										</div>
										<div uib-collapse="panel5" ng-init="panel5=true" class="panel-wrapper">
											<div class="panel-body">
												<div class="col-md-6">
													<span class="btn btn-primary btn-o btn-file"> Select an image file
													<input type="file" nv-file-select="" uploader="uploaderImages" multiple />
													</span>
												</div>
												<div class="col-md-6 file-upload" style="margin-bottom: 40px">

													<div ng-repeat="item in uploaderImages.queue">
														<div ng-show="uploaderImages.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

														<div nowrap>
                                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
																<span class="glyphicon glyphicon-trash"></span> Remove
															</button>

															<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span><span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span><span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-12">

											<div class="panel panel-white" id="panel1">
												<div class="panel-heading">
													<h4 class="panel-title text-primary">General information</h4>
													<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
												</div>
												<div uib-collapse="panel1" ng-init="panel1=false" class="panel-wrapper">
													<div class="panel-body">

														<div class="row">
															<div class="col-md-4">
																<div class="form-group" ng-class="{'has-error':Form.projectName.$dirty && Form.projectName.$invalid, 'has-success':Form.projectName.$valid}">
																	<label>
																		Project Name <span class="symbol required"></span>
																	</label>
																	<input type="text" placeholder="Enter your Project Name" class="form-control" name="projectName" ng-model="simpleProject.projectName" ng-required="currentStep == 1"/>
																</div>
															</div>
															<div class="col-md-4">
																<div class="form-group" ng-class="{'has-error':Form.category.$dirty && Form.category.$invalid, 'has-success':Form.category.$valid}">
																	<label>
																		Category <span class="symbol required"></span>
																	</label>

																	<select class="cs-select cs-skin-slide" data-ng-model="simpleProject.category" name="category" ng-required="currentStep == 1">
																		<option value="0" disabled selected>Select an category</option>
																		<option value="1">Commodities Production</option>
																		<option value="2">Creating a New Business</option>
																		<option value="3">Diversification</option>
																		<option value="4">Property developments</option>
																		<option value="5">Other</option>
																	</select>
																</div>
															</div>
															<div class="col-md-4">
																<div class="form-group" ng-class="{'has-error':Form.sector.$dirty && Form.sector.$invalid, 'has-success':Form.sector.$valid}">
																	<label>
																		Sector <span class="symbol required"></span>
																	</label>

																	<select class="cs-select cs-skin-slide" data-ng-model="simpleProject.sector" name="sector" ng-required="currentStep == 1">
																		<option value="0" disabled selected>Select an sector</option>
																		<option value="1">Agriculture</option>
																		<option value="2">Industry</option>
																		<option value="3">Technology</option>
																		<option value="4">Engineering</option>
																		<option value="5">Real State</option>
																		<option value="6">Academic</option>
																		<option value="7">Food industry</option>
																		<option value="8">Other</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-4">
																<div class="form-group" ng-class="{'has-error':Form.description.$dirty && Form.description.$invalid, 'has-success':Form.description.$valid}">
																	<label class="control-label">
																		Project description <span class="symbol required"></span>
																	</label>

																	<textarea placeholder="Enter your project description" class="form-control autosize msd-elastic: \n;" data-ng-model="simpleProject.description" name="description" ng-required="currentStep == 1"></textarea>
																</div>
															</div>
															<div class="col-md-4">
																<div class="form-group" ng-class="{'has-error':Form.background.$dirty && Form.background.$invalid, 'has-success':Form.background.$valid}">
																	<label class="control-label">
																		Background and Justification <span class="symbol required"></span>
																	</label>

																	<textarea placeholder="Enter your project background" class="form-control autosize msd-elastic: \n;" data-ng-model="simpleProject.background" name="background" ng-required="currentStep == 1"></textarea>
																</div>
															</div>
															<div class="col-md-4">
																<div class="form-group" ng-class="{'has-error':Form.beneficiaries.$dirty && Form.beneficiaries.$invalid, 'has-success':Form.beneficiaries.$valid}">
																	<label class="control-label">
																		Beneficiaries <span class="symbol required"></span>
																	</label>

																	<textarea placeholder="Enter your project beneficiaries" class="form-control autosize msd-elastic: \n;" data-ng-model="simpleProject.beneficiaries" name="beneficiaries" ng-required="currentStep == 1"></textarea>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="panel panel-white" id="panel50">
												<div class="panel-heading">
													<h4 class="panel-title text-primary">Objetives</h4>
													<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
												</div>
												<div uib-collapse="panel50" ng-init="panel50=true" class="panel-wrapper">
													<div class="panel-body">
														<div class="panel panel-transparent">
															<div class="panel-body">
																<ul class="list-group">
																	<li class="list-group-item" ng-repeat="obj in simpleProject.objetives">
																		{{obj}}
																		<button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeObjetive(obj)">
																			<span class="glyphicon glyphicon-trash"></span>Remove
																		</button>
																	</li>
																</ul>
															</div>
														</div>
														<div class="panel panel-white" id="panel51">
															<div class="panel-heading">
																<!-- <h5 class="text-primary">Add</h5> -->
																<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
															</div>
															<div uib-collapse="panel51" ng-init="panel51=false" class="panel-wrapper">
																<div class="panel-body">

																	<div class="form-group">
																		<textarea placeholder="Objetive" class="form-control autosize msd-elastic: \n;" data-ng-model="objetive" name="objetive"></textarea>
																	</div>
																	<a class="btn btn-wide btn-primary pull-right" ng-click="addObjetive()"><i class="fa fa-plus"></i> Add</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="panel panel-white" id="panel60">
												<div class="panel-heading">
													<h4 class="panel-title text-primary">My invested capital</h4>
													<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
												</div>
												<div uib-collapse="panel60" ng-init="panel60=true" class="panel-wrapper">
													<div class="panel-body">
														{{simpleProject.ownerInvestedCapital}} $
														<a class="btn btn-wide btn-primary pull-right" ng-click=""><i class="fa fa-plus"></i> Make a transaction</a>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="panel panel-white" id="panel10">
												<div class="panel-heading">
													<h4 class="panel-title text-primary">Costs, death line and my revenue</h4>
													<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
												</div>
												<div uib-collapse="panel10" ng-init="panel10=false" class="panel-wrapper">
													<div class="panel-body">
														<div class="row">
															<div class="col-md-6">
																<div class="form-group" ng-class="{'has-error':Form.totalCost.$dirty && Form.totalCost.$invalid, 'has-success':Form.totalCost.$valid}">
																	<label>
																		Total cost <span class="symbol required"></span>
																	</label>

																	<input type="text" value="0" touchspin data-min="0" data-max="1000000000" data-step="50" data-maxboostedstep="10000000" data-prefix="$" data-ng-model="simpleProject.totalCost" name="totalCost" ng-required="currentStep == 1">
																</div>

															</div>
															<div class="col-md-6">
																<div class="form-group" ng-class="{'has-error':Form.minimalCost.$dirty && Form.minimalCost.$invalid, 'has-success':Form.minimalCost.$valid}">
																	<label>
																		Minimal cost <span class="symbol required"></span>
																	</label>

																	<input type="text" value="0" touchspin data-min="0" data-max="1000000000" data-step="50" data-maxboostedstep="10000000" data-prefix="$" data-ng-model="simpleProject.minimalCost" name="minimalCost" ng-required="currentStep == 1">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group" ng-class="{'has-error':Form.revenueOwner.$dirty && Form.revenueOwner.$invalid, 'has-success':Form.revenueOwner.$valid}">
																	<label>
																		My estimate revenue <span class="symbol required"></span>
																	</label>

																	<input type="text" value="0" touchspin data-min="0" data-max="100" data-step="1" data-maxboostedstep="10000000" data-postfix="%" data-ng-model="simpleProject.revenueOwner" name="revenueOwner" ng-required="currentStep == 1">
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label>
																		Death Line
																	</label>
																	<div class="input-group">
																		<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="simpleProject.deathLine" is-open="opened" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" name="deathline" ng-required="currentStep == 1">
																		<span class="input-group-btn">
																		<button type="button" class="btn btn-primary" ng-click="open()">
																			<i class="fa fa-calendar"></i>
																		</button> </span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="panel panel-white" id="panel11">
												<div class="panel-heading">
													<h4 class="panel-title text-primary">Revenue and number of investors</h4>
													<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
												</div>
												<div uib-collapse="panel11" ng-init="panel11=false" class="panel-wrapper">
													<div class="panel-body">
														<div class="row">
															<div class="col-md-6">
																<div class="form-group" ng-class="{'has-error':Form.totalRevenue.$dirty && Form.totalRevenue.$invalid, 'has-success':Form.totalRevenue.$valid}">
																	<label>
																		Total Estimate Revenue <span class="symbol required"></span>
																	</label>

																	<input type="text" value="0" touchspin data-min="0" data-max="10000000" data-step="50" data-maxboostedstep="10000000" data-prefix="$" data-ng-model="simpleProject.totalRevenue" name="totalRevenue" ng-required="currentStep == 1">
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group" ng-class="{'has-error':Form.minCapInves.$dirty && Form.minCapInves.$invalid, 'has-success':Form.minCapInves.$valid}">
																	<label>
																		Min Financier Investment <span class="symbol required"></span>
																	</label>

																	<input type="text" value="0" touchspin data-min="0" data-max="1000000000" data-step="50" data-maxboostedstep="10000000" data-prefix="$" data-ng-model="simpleProject.minCapInves" name="minCapInves" ng-required="currentStep == 1">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6">
																<div class="form-group" ng-class="{'has-error':Form.maxNumInves.$dirty && Form.maxNumInves.$invalid, 'has-success':Form.maxNumInves.$valid}">
																	<label>
																		Max Number of Investors <span class="symbol required"></span>
																	</label>

																	<input type="text" value="0" touchspin data-min="0" data-max="1000000000" data-step="1" data-maxboostedstep="10000000" data-postfix="investors" data-ng-model="simpleProject.maxNumInves" name="maxNumInves" ng-required="currentStep == 1">
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group" ng-class="{'has-error':Form.minNumInves.$dirty && Form.minNumInves.$invalid, 'has-success':Form.minNumInves.$valid}">
																	<label>
																		Min Number of Investors <span class="symbol required"></span>
																	</label>

																	<input type="text" value="0" touchspin data-min="0" data-max="1000000000" data-step="1" data-maxboostedstep="10000000" data-postfix="investors" data-ng-model="simpleProject.minNumInves" name="minNumInves" ng-required="currentStep == 1">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="panel panel-white" id="panel12">
												<div class="panel-heading">
													<h4 class="panel-title text-primary">Outcomes and retribution ways</h4>
													<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
												</div>
												<div uib-collapse="panel12" ng-init="panel12=false" class="panel-wrapper">
													<div class="panel-body">
														<div class="row">
															<div class="col-md-6">
																<div class="form-group">
																	<label>
																		Outcomes
																	</label>
																	<div ng-repeat="outcome in outcomes">
																		<div class="checkbox clip-check check-primary">
																			<input type="checkbox" id="{{outcome}}" value="{{outcome}}" ng-checked="outcomesSelection.indexOf(outcome) > -1" ng-click="toggleOutcomeSelection(outcome)">
																			<label for="{{outcome}}">
																				{{outcome.name}}
																			</label>
																		</div>
																		<textarea ng-show="outcomesSelection.indexOf(outcome) > -1" placeholder="Enter the outcome description" class="form-control autosize msd-elastic: \n;" ng-model="outcome.description"></textarea>
																	</div>
																</div>

															</div>
															<div class="col-md-6">
																<div class="form-group">
																	<label>
																		Retribution Ways
																	</label>
																	<div ng-repeat="retribution in retributions">
																		<div class="checkbox clip-check check-primary">
																			<input type="checkbox" id="{{retribution}}" value="{{retribution}}" ng-checked="retributionsSelection.indexOf(retribution) > -1" ng-click="toggleRetributionSelection(retribution)">
																			<label for="{{retribution}}">
																				{{retribution.name}}
																			</label>
																		</div>
																		<textarea ng-show="retributionsSelection.indexOf(retribution) > -1" placeholder="Enter the retribution description" class="form-control autosize msd-elastic: \n;"ng-model="retribution.description"></textarea>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<button ng-click="form.next(Form)" type="button" class="pull-right btn btn-primary btn-wide next-step">
											Next <i class="fa fa-arrow-circle-right"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
						<!-- end: WIZARD STEP 1 -->
						<!-- start: WIZARD STEP 2 -->
						<div id="step-2" ng-show="currentStep == 2">
							<div class="row">
								<div class="col-md-12">
									<fieldset>
										<legend>
											Add references
										</legend>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Name</label>
													<input type="text" class="form-control" name="name" ng-model="reference.name" />
												</div>
												<hr>
												<div ng-controller="UploadCtrl2" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
													<div ng-show="uploader.queue.length == 0">
														<label>Upload a reference archive</label>
														<span class="btn btn-primary btn-o btn-file pull-right"> Select a file
													<input type="file" nv-file-select="" uploader="uploader" />
													</span>
													</div>
													<div ng-show="uploader.queue.length != 0" ng-repeat="item in uploader.queue">
														<strong>File name: {{item.file.name}}</strong>
														<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span><span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span><span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>

														<div nowrap>
															<button type="button" class="btn btn-danger btn-xs pull-right" ng-click="item.remove()">
																<span class="glyphicon glyphicon-trash"></span> Remove
															</button>
														</div>
													</div>
												</div>
												<hr>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Description</label>
													<textarea placeholder="Enter reference description" class="form-control autosize msd-elastic: \n;" data-ng-model="reference.description"></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="addReference()">
														<i class="fa fa-circle-arrow-left"></i> Add reference
													</button>
												</div>
											</div>
										</div>
										<hr>
										<div class="row" ng-show="simpleProject.references.length != 0">
											<div class="col-md-12">
												<table class="table table-striped" wt-responsive-table>
													<thead>
													<tr>
														<th>Name </th>
														<th>Description </th>
														<!-- <th>File </th> -->
														<th>Actions </th>
													</tr>
													</thead>
													<tbody>
													<tr ng-repeat="ref in simpleProject.references">
														<td>{{ref.name}} </td>
														<td>{{ref.description}} </td>
														<!-- <td>{{ref.file}} </td> -->
														<td>
															<button type="button" class="btn btn-danger btn-xs" ng-click="removeReference(ref.name)">
																<span class="glyphicon glyphicon-trash"></span>Remove
															</button>
														</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row" ng-controller="dynamicTableCtrl">
								<div class="col-md-12">
									<fieldset>
										<legend>
											Add risks
										</legend>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Name</label>
													<input type="text" class="form-control" ng-model="risk.name" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Probability</label>
													<input type="text" value="0" touchspin data-min="0" data-max="100" data-step="1" data-maxboostedstep="10000000" data-postfix="%" data-ng-model="risk.probability" >
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Description</label>
													<textarea placeholder="Enter risk description" class="form-control autosize msd-elastic: \n;" data-ng-model="risk.description"></textarea>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Actions to mitigate risk</label>
													<textarea placeholder="Actions to mitigate risk" class="form-control autosize msd-elastic: \n;" data-ng-model="risk.mitigate"></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="addRisk()">
													<i class="fa fa-circle-arrow-left"></i> Add
												</button>
											</div>
										</div>
										<hr>
										<div class="row" ng-show="simpleProject.risks.length != 0">
											<div class="col-md-12">
												<table class="table table-striped" wt-responsive-table>
													<thead>
													<tr>
														<th>Name </th>
														<th>Description </th>
														<th>Action </th>
													</tr>
													</thead>
													<tbody>
													<tr ng-repeat="r in simpleProject.risks">
														<td>{{r.name}} </td>
														<td>{{r.description}} </td>
														<td>
															<button type="button" class="btn btn-danger btn-xs" ng-click="removeRisk(r.name)">
																<span class="glyphicon glyphicon-trash"></span>Remove
															</button>
														</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</fieldset>
									<div class="form-group">
										<button ng-click="form.prev(Form)" type="button" class="btn btn-primary btn-wide next-step">
											<i class="fa fa-arrow-circle-left"></i> Back
										</button>
										<button ng-click="form.next(Form)" type="button" class="pull-right btn btn-primary btn-wide next-step">
											Next <i class="fa fa-arrow-circle-right"></i>
										</button>
									</div>
								</div>
							</div>
						</div>

						<!-- end: WIZARD STEP 2 -->
						<!-- start: WIZARD STEP 3 -->
						<div id="step-3" ng-show="currentStep == 3">
							<div class="row">
								<div class="col-md-12">
									<fieldset>
										<legend>
											Add tasks
										</legend>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Name</label>
													<input type="text" class="form-control" ng-model="task.name" />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>
														Cost
													</label>

													<input type="text" value="0" touchspin data-min="0" data-max="1000000000" data-step="50" data-maxboostedstep="10000000" data-prefix="$" ng-model="task.cost">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Description</label>
													<textarea placeholder="Enter task description" class="form-control autosize msd-elastic: \n;" ng-model="task.description"></textarea>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>
														Outcome
													</label>
													<textarea placeholder="Declare outcomes" class="form-control autosize msd-elastic: \n;" ng-model="task.outcome"></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="exampleInputPassword1"> Start date </label>
													<div class="input-group">
														<input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="start" is-open="startOpened" datepicker-options="startOptions" close-text="Close">
														<span class="input-group-btn">
														<button type="button" class="btn btn-primary" ng-click="startOpen()">
															<i class="fa fa-calendar"></i>
														</button> </span>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>
														Estimate duration
													</label>

													<input type="text" value="0" touchspin data-min="0" data-max="1000000000" data-stepinterval="50" data-maxboostedstep="10000000" data-postfix="days" ng-model="task.duration">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">

											</div>
											<div class="col-md-6">
												<div class="form-group">
													<br>
													<button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="addTask()">
														<i class="fa fa-circle-arrow-left"></i> Add task
													</button>
												</div>
											</div>
										</div>
										<hr>
										<div class="row" ng-show="tasks.length != 0">
											<div class="col-md-12">
												<table class="table table-striped" wt-responsive-table>
													<thead>
													<tr>
														<th>Name </th>
														<th>Cost </th>
														<th>Start date </th>
														<th>Duration </th>
														<th>Actions </th>
													</tr>
													</thead>
													<tbody>
													<tr ng-repeat="task in tasks">
														<td>{{task.name}} </td>
														<td>{{task.cost}} </td>
														<td>{{getDate(task.startDate)}} </td>
														<td>{{task.duration}} </td>
														<td>
															<button type="button" class="btn btn-danger btn-xs" ng-click="removeTask(task.name)">
																<span class="glyphicon glyphicon-trash"></span>Remove
															</button>
														</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div ng-show="tasks.length != 0">
													<button class="btn" ng-click="toggleMode(this)">Zoom to Fit</button>
												</div>
												<div id="gantt_here"></div>
												<div ng-show="tasks.length == -1" id="gantt_hide"></div>
											</div>
										</div>


									</fieldset>

									<div class="form-group">
										<button ng-click="form.prev(Form)" type="button" class="btn btn-primary btn-wide next-step">
											<i class="fa fa-arrow-circle-left"></i> Back
										</button>
										<button ng-click="form.next(Form)" type="button" class="pull-right btn btn-primary btn-wide next-step">
											Next <i class="fa fa-arrow-circle-right"></i>
										</button>
									</div>
								</div>
							</div>

						</div>

						<!-- end: WIZARD STEP 3 -->
						<!-- start: WIZARD STEP 4 -->
						<div id="step-4"  ng-show="currentStep == 4">
							<div class="row">
								<div class="col-md-12">
									<div class="text-center">
										<h1 class=" ti-check block text-primary"></h1>
										<h2 class="StepTitle">Congratulations!</h2>
										<p class="text-large">
											Your project is complete.
										</p>
										<div class="alert alert-block alert-warning">
											We solemnly declare that the information provided for the Project Construction and published in my Project using Coralium System is true and correct. There will be no responsibility other than my own if any lost or damage is done as a result of this Project Execution.
										</div>
										<a class="btn btn-primary btn-o" href ng-click="form.goTo(Form, 1)">
											Back to first step
										</a>
										<a class="btn btn-primary btn-o" href ng-click="createSimpleProject()">
											Submit your project
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- end: WIZARD STEP 4 -->
			</div>
			<!-- <pre class="code margin-top-20">{{ myModel | json }}</pre> -->
			</form>
			<!-- end: WIZARD FORM -->
		</div>
	</div>
</div>
</div>
<!-- start: WIZARD DEMO -->
