<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid bg-white col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4" id="box_login" ng-controller="SignInCtrl">
	<div class="box-login">
		<form class="form-login">
			<fieldset>
				<legend>
					<span translate="pages.login.TEXT1"></span>
				</legend>
				<p>
					<span translate="pages.login.TEXT2"></span>
				</p>
				<div class="form-group">
					<span class="input-icon">
						<input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" required="required">
						<i class="ti-user"></i>
					</span>
				</div>
				<div class="form-group form-actions">
					<span class="input-icon">
						<input type="password" class="form-control password" name="password" placeholder="Password" ng-model="user.password" required="required">
						<i class="ti-lock"></i>
						<!--<a class="forgot" ui-sref="app.login.password_forgot">-->
						<!--I forgot my password-->
						<!--</a> -->
					</span>
				</div>
				<div class="form-actions">
					<div class="checkbox clip-check check-primary">
						<input type="checkbox" id="remember" value="1">
						<label for="remember">
							<span translate="pages.login.TEXT3"></span>
						</label>
					</div>
					<button type="submit" class="btn btn-primary pull-right" ng-click="signin()">
						<span translate="pages.login.LOGIN"></span> <i class="ti-arrow-circle-right"></i>
					</button>
				</div>
				<div class="new-account">
					<span translate="pages.login.TEXT4"></span>
					<a ui-sref="app.login.registration">
						<span translate="pages.login.TEXT5"></span>
					</a>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<!-- end: FEATURED BOX LINKS -->
