<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid bg-white col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4" id="box_register">
	<div class="box-register" ng-controller="SignUpCtrl">
		<form class="form-register">
			<fieldset>
				<legend>
					<span translate="pages.login.SIGNUP"></span>
				</legend>
				<p>
					<span translate="pages.login.TEXT6"></span>
				</p>
				<div class="form-group">
					<input type="text" ng-model="user.fullName" class="form-control" name="full_name" placeholder="Full Name" required="required">
				</div>
				<div class="form-group">
					<label class="block">
						<span translate="pages.GENDER"></span>
					</label>
					<div class="clip-radio radio-primary">
						<input type="radio" id="rg-female" name="gender" value="female" ng-model="user.gender">
						<label for="rg-female">
							<span translate="pages.FEMALE"></span>
						</label>
						<input type="radio" id="rg-male" name="gender" value="male" ng-model="user.gender">
						<label for="rg-male">
							<span translate="pages.MALE"></span>
						</label>
					</div>
				</div>
				<p>
					<span translate="pages.login.TEXT7"></span>
				</p>
				<div class="form-group">
						<span class="input-icon">
							<input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" required="required">
							<i class="ti-email"></i> </span>
				</div>
				<div class="form-group">
						<span class="input-icon">
							<input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password" required="required">
							<i class="ti-lock"></i> </span>
				</div>
				<div class="form-group">
						<span class="input-icon">
							<input type="password" class="form-control" name="password_again" placeholder="Password Again" required="required" ng-model="password_again">
							<i class="ti-lock"></i> </span>
				</div>
				<div class="form-group">
					<div class="checkbox clip-check check-primary">
						<input type="checkbox" id="agree" value="agree" ng-model="term_check">
						<label for="agree">
							<span translate="pages.login.TEXT8"></span>
						</label>
					</div>
				</div>
				<div class="form-actions">
					<p>
						<span translate="pages.login.TEXT9"></span>
						<a ui-sref="app.login.signin">
							<span translate="pages.login.LOGIN"></span>
						</a>
					</p>
					<button type="submit" class="btn btn-primary pull-right" ng-click="signup()">
						<span translate="pages.login.SIGNUP"></span> <i class="ti-arrow-circle-right"></i>
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<!-- end: FEATURED BOX LINKS -->
