<!-- start: PAGE TITLE -->
<div ng-controller="SubprojectListTaskCtrl">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">{{currentProjectActive.projectName}}</h1>
            </div>
            <!--<div ncy-breadcrumb></div>-->
        </div>
    </section>
    <div class="container-fluid container-fullw bg-white">
        <div class="app-content">
            <div class="main-content" id="subproject">
                <section class="container-fluid container-fullw bg-white" id="section_subproject">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ul class="list-unstyled">
                                    <li class="margin-bottom-15" ng-repeat="task in tasksFiltreInPreparation">
                                        <hr class="tall">
                                        <div class="clearfix">
                                            <div class="thread-content col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                                                <span class="notification-author"><a ng-click="goToTask(task.id)">{{task.name}}</a></span>
                                                <span class="label label-inverse state-list-tasks pull-right">{{ stateArray[task.state]}}</span>
                                            </div>
                                            <div class="thread-content col-sm-12 col-md-12 col-lg-12 col-xs-12 margin-top-10 no-padding">
                                                <span class="notification-preview">{{ task.description | htmlToPlaintext | words:40 :true }}</span>
                                            </div>
                                            <div class="thread-content col-sm-12 col-md-12 col-lg-12 col-xs-12 margin-top-10 no-padding">
                                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 no-padding margin-top-10">
                                                    <span><i class="ti-pencil-alt"></i>
                                                        <strong> Cost:</strong>  {{task.cost}} $
                                                    </span>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 no-padding margin-top-10">
                                                    <span><i class="ti-calendar"></i>
                                                        <strong> Start Date:</strong>  {{getDateProject(task.startDate)}}
                                                    </span>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 no-padding margin-top-10">
                                                    <span><i class="ti-timer"></i>
                                                        <strong> Duration:</strong>  {{task.duration}} <strong>Weeks</strong>
                                                    </span>
                                                </div>
                                                <div class="thread-content col-xs-12 col-sm-6 col-md-3 col-lg-3 no-padding">
                                                    <div data-title="Actions" data-title-override="Actions" class="pull-right margin-top-10">
                                                        <button type="button" class="btn btn-success btn-xs">
                                                            <span class="ti-reload"></span> Update
                                                        </button>
                                                        <button ng-click="goToTask(task.id)" type="button" class="btn btn-warning btn-xs">
                                                            <span class="ti-arrow-right"></span> View
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs">
                                                            <span class="ti-trash"></span> Remove
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr class="tall">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-6">
                                <button ui-sref="app.forum.base" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-comment-alt">
                                    <span>Go to forum</span>
                                </button>
                            </div>
                            <div class="col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-lg-2 col-lg-offset-8 col-xs-6">
                                <button ui-sref="app.project.subproject_detail" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-arrow-left">
                                    <span> Back </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function () {
            var swiperDefault = $('.horizontal-slider');
            if (swiperDefault.length) {
                swiperDefault.each(function () {
                    var _this = $(this);
                    var swiper = new Swiper(_this, {
                        pagination: _this.find('.swiper-pagination'),
                        paginationClickable: _this.find('.swiper-pagination'),
                        loop: true,
                        autoplay: 3000,
                        nextButton: _this.find('.swiper-button-next'),
                        prevButton: _this.find('.swiper-button-prev')

                    });
                });
            }

            var swiperVertical = $('.vertical-slider');
            if (swiperVertical.length) {
                swiperVertical.each(function () {
                    var _this = $(this);
                    var swiper = new Swiper(_this, {
                        pagination: _this.find('.swiper-pagination'),
                        paginationClickable: _this.find('.swiper-pagination'),
                        loop: true,
                        autoplay: 3000,
                        direction: 'vertical'

                    });
                });
            }

            var swiperNestedHorizontal = $('.swiper-container-h');
            if (swiperNestedHorizontal.length) {
                swiperNestedHorizontal.each(function () {
                    var _this = $(this);
                    var swiperH = new Swiper(_this, {
                        pagination: _this.find('.swiper-pagination-h'),
                        paginationClickable: true,
                        spaceBetween: 50
                    });
                });
            }
            var swiperNestedVertical = $('.swiper-container-v');
            if (swiperNestedVertical.length) {
                swiperNestedVertical.each(function () {
                    var _this = $(this);
                    var swiperV = new Swiper(_this, {
                        pagination: _this.find('.swiper-pagination-v'),
                        paginationClickable: true,
                        direction: 'vertical',
                        spaceBetween: 50
                    });
                });
            }
            var swiperFade = $('.fade-slider');
            if (swiperFade.length) {
                swiperFade.each(function () {
                    var _this = $(this);
                    var swiper = new Swiper(_this, {
                        pagination: _this.find('.swiper-pagination'),
                        paginationClickable: _this.find('.swiper-pagination'),
                        loop: true,
                        autoplay: 3000,
                        nextButton: _this.find('.swiper-button-next'),
                        prevButton: _this.find('.swiper-button-prev'),
                        effect: 'fade'

                    });
                });
            }

            var swiperParallax = $('.parallax-slider');
            if (swiperParallax.length) {
                swiperParallax.each(function () {
                    var _this = $(this);
                    var swiper = new Swiper(_this, {
                        pagination: _this.find('.swiper-pagination'),
                        paginationClickable: true,
                        nextButton: _this.find('.swiper-button-next'),
                        prevButton: _this.find('.swiper-button-prev'),
                        parallax: true,
                        speed: 600,
                    });
                });
            }

            var swiperThumbs = $('.gallery-top');
            if (swiperThumbs.length) {
                swiperThumbs.each(function () {
                    var _this = $(this);
                    var _thumbs = _this.next('.gallery-thumbs');
                    var galleryTop = new Swiper(_this, {
                        nextButton: _this.find('.swiper-button-next'),
                        prevButton: _this.find('.swiper-button-prev'),
                        spaceBetween: 10,
                    });
                    var galleryThumbs = new Swiper(_thumbs, {
                        spaceBetween: 10,
                        centeredSlides: true,
                        slidesPerView: 'auto',
                        touchRatio: 0.2,
                        slideToClickedSlide: true
                    });
                    galleryTop.params.control = galleryThumbs;
                    galleryThumbs.params.control = galleryTop;
                });
            }
        });
    </script>
    <!-- end: FEATURED BOX LINKS -->
</div>