<div ng-controller="SubprojectTaskDetailCtrl">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">{{currentProjectActive.projectName}}</h1>
            </div>
            <!--<div ncy-breadcrumb></div>-->
        </div>
    </section>
    <div class="container-fluid container-fullw bg-white">
        <div class="app-content">
            <div class="main-content" id="subproject">
                <section class="container-fluid container-fullw bg-white" id="section_subproject">
                    <div class="container">
                        <div class="row">
                            <div class="portfolio-title">
                                <div class="row">
                                    <div class="col-md-12 left">
                                        <h2 class="shorter">{{currentTaskActive.name}}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-15 no-padding margin-left-0 margin-right-0">
                                <span class="label label-default pull-right">{{stateArray[currentTaskActive.state]}}</span>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 pull-right">
                                    <div class="portfolio-info">
                                        <div class="row">
                                            <ul class="pull-right text-right">
                                                <li>
                                                    <i class="fa fa-calendar"></i> <strong>Starting Date:</strong> {{getProjectDate(currentTaskActive.startDate)}}
                                                </li>
                                                <li>
                                                    <i class="fa fa-calendar"></i> <strong>Proposed Finishing:</strong> {{proposedFinished(currentTaskActive.startDate, currentTaskActive.duration)}}
                                                </li>
                                                <li>
                                                    <i class="fa fa-calendar"></i> <strong>Date:</strong> {{getTodayDate()}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 margin-top-15" ng-show="currentTaskActive.state > 1">
                                    <p><strong>Financial Execution: </strong></p>
                                    <p><strong>Phisical Execution: </strong></p>
                                </div>
                            </div>
                            <hr class="tall">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                    <div class="panel panel-white" id="panel2">
                                        <div class="panel-heading">
                                            <h4 class="panel-title text-primary">Description</h4>
                                            <ct-paneltool class="panel-tools" tool-collapse="tool-collapse"><a
                                                                                                                class="btn btn-transparent btn-sm"
                                                                                                                panel-collapse=""
                                                                                                                tooltip-placement="top"
                                                                                                                uib-tooltip="Collapse"
                                                                                                                ng-click="panel2 = !panel2"
                                                                                                                ng-init="panel2=false">
                                                <!-- ngIf: panel1 --><!-- ngIf: !panel1 --><i ng-if="!panel2"
                                                                                              class="ti-minus ng-scope"
                                                                                              style=""></i>
                                                <!-- end ngIf: !panel1 --></a>
                                            </ct-paneltool>
                                        </div>
                                        <div uib-collapse="panel2" ng-init="panel2=false"
                                             class="panel-wrapper in collapse" aria-expanded="true" aria-hidden="false"
                                             style="height: auto;">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                                        {{currentTaskActive.description}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                    <div class="panel panel-white" id="panel1">
                                        <div class="panel-heading">
                                            <h4 class="panel-title text-primary">Costs and duration</h4>
                                            <ct-paneltool class="panel-tools" tool-collapse="tool-collapse"><a href="#"
                                                                                                               class="btn btn-transparent btn-sm"
                                                                                                               panel-collapse=""
                                                                                                               tooltip-placement="top"
                                                                                                               uib-tooltip="Collapse"
                                                                                                               ng-click="panel1 = !panel1"
                                                                                                               ng-init="panel1=false">
                                                <!-- ngIf: panel1 --><!-- ngIf: !panel1 --><i ng-if="!panel1"
                                                                                              class="ti-minus ng-scope"
                                                                                              style=""></i>
                                                <!-- end ngIf: !panel1 --></a>
                                            </ct-paneltool>
                                        </div>
                                        <div uib-collapse="panel1" ng-init="panel1=false"
                                             class="panel-wrapper in collapse" aria-expanded="true" aria-hidden="false"
                                             style="height: auto;">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
                                                        <ul class="portfolio-details list-unstyled">
                                                            <li>
                                                                <p>
                                                                    <strong>Estimate Cost:</strong> {{currentTaskActive.cost}} $
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <p class="margin-top-15">
                                                                    <strong>Estimate Duration:</strong> {{currentTaskActive.duration}}
                                                                    <strong>days</strong>
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                        <ul class="portfolio-details list-unstyled margin-top-minus-15">
                                                            <li>
                                                                <p class="margin-top-15">
                                                                    <strong>Outcomes:</strong>
                                                                </p>
                                                                {{currentTaskActive.outcome}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="tall">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                    <button ng-show="currentProjectActive.inverted || (forumView())" ui-sref="app.forum.base" type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-comment-alt">
                                        <span>Go to forum</span>
                                    </button>
                                    <button ui-sref="app.project.subproject_detail" type="button" class="pull-right btn btn-primary btn-wide btn-scroll btn-scroll-top ti-folder">
                                        <span>Back to my project</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        var swiperDefault = $('.horizontal-slider');
        if (swiperDefault.length) {
            swiperDefault.each(function () {
                var _this = $(this);
                var swiper = new Swiper(_this, {
                    pagination: _this.find('.swiper-pagination'),
                    paginationClickable: _this.find('.swiper-pagination'),
                    loop: true,
                    autoplay: 3000,
                    nextButton: _this.find('.swiper-button-next'),
                    prevButton: _this.find('.swiper-button-prev')

                });
            });
        }

        var swiperVertical = $('.vertical-slider');
        if (swiperVertical.length) {
            swiperVertical.each(function () {
                var _this = $(this);
                var swiper = new Swiper(_this, {
                    pagination: _this.find('.swiper-pagination'),
                    paginationClickable: _this.find('.swiper-pagination'),
                    loop: true,
                    autoplay: 3000,
                    direction: 'vertical'

                });
            });
        }

        var swiperNestedHorizontal = $('.swiper-container-h');
        if (swiperNestedHorizontal.length) {
            swiperNestedHorizontal.each(function () {
                var _this = $(this);
                var swiperH = new Swiper(_this, {
                    pagination: _this.find('.swiper-pagination-h'),
                    paginationClickable: true,
                    spaceBetween: 50
                });
            });
        }
        var swiperNestedVertical = $('.swiper-container-v');
        if (swiperNestedVertical.length) {
            swiperNestedVertical.each(function () {
                var _this = $(this);
                var swiperV = new Swiper(_this, {
                    pagination: _this.find('.swiper-pagination-v'),
                    paginationClickable: true,
                    direction: 'vertical',
                    spaceBetween: 50
                });
            });
        }
        var swiperFade = $('.fade-slider');
        if (swiperFade.length) {
            swiperFade.each(function () {
                var _this = $(this);
                var swiper = new Swiper(_this, {
                    pagination: _this.find('.swiper-pagination'),
                    paginationClickable: _this.find('.swiper-pagination'),
                    loop: true,
                    autoplay: 3000,
                    nextButton: _this.find('.swiper-button-next'),
                    prevButton: _this.find('.swiper-button-prev'),
                    effect: 'fade'

                });
            });
        }

        var swiperParallax = $('.parallax-slider');
        if (swiperParallax.length) {
            swiperParallax.each(function () {
                var _this = $(this);
                var swiper = new Swiper(_this, {
                    pagination: _this.find('.swiper-pagination'),
                    paginationClickable: true,
                    nextButton: _this.find('.swiper-button-next'),
                    prevButton: _this.find('.swiper-button-prev'),
                    parallax: true,
                    speed: 600,
                });
            });
        }

        var swiperThumbs = $('.gallery-top');
        if (swiperThumbs.length) {
            swiperThumbs.each(function () {
                var _this = $(this);
                var _thumbs = _this.next('.gallery-thumbs');
                var galleryTop = new Swiper(_this, {
                    nextButton: _this.find('.swiper-button-next'),
                    prevButton: _this.find('.swiper-button-prev'),
                    spaceBetween: 10,
                });
                var galleryThumbs = new Swiper(_thumbs, {
                    spaceBetween: 10,
                    centeredSlides: true,
                    slidesPerView: 'auto',
                    touchRatio: 0.2,
                    slideToClickedSlide: true
                });
                galleryTop.params.control = galleryThumbs;
                galleryThumbs.params.control = galleryTop;
            });
        }
    });
</script>
<!-- end: FEATURED BOX LINKS -->
